# .github/workflows/release.yml
# Create GitHub releases when pushing to main
on:
  push:
    branches:
      - main
    
jobs:
  release:
    runs-on: ubuntu-latest
    name: semantic-release
    steps:
      - uses: actions/checkout@v4

      - name: Configure 1Password Service Account
        uses: 1password/load-secrets-action/configure@v1
        with:
          service-account-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

      - name: Load GitHub credentials
        id: load-github-credentials
        uses: 1password/load-secrets-action@v2
        with:
          export-env: false
        env:
          GITHUB_TOKEN: op://CICD/github-easytocloud-brew/credential 

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        env:
          GH_TOKEN: ${{ steps.load-github-credentials.outputs.GITHUB_TOKEN }}