# .github/workflows/release.yml
# Start Homebrew Releaser when a new tag is created
on:
  push:
    branches:
      - main
    
jobs:
  homebrew-releaser:
    runs-on: ubuntu-latest
    name: homebrew-releaser
    steps:
      - uses: actions/checkout@v4

      - name: Configure 1Password Service Account
        uses: 1password/load-secrets-action/configure@v1
        with:
          service-account-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

      - name: Load GitHub credentials
        id: load-github-credentials
        uses: 1password/load-secrets-action@v2
        with:
          export-env: false
        env:
          HOMEBREW_TAP_GITHUB_TOKEN: op://CICD/github-easytocloud-brew/credential 

      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v4
        env:
          GH_TOKEN: ${{ steps.load-github-credentials.outputs.HOMEBREW_TAP_GITHUB_TOKEN  }}

      - name: Release oh-my-easytocloud to easytocloud/homebrew-tap
        if: steps.semantic.outputs.new_release_published == 'true'
        uses: Justintime50/homebrew-releaser@v1
        with:
          homebrew_owner: easytocloud
          homebrew_tap: homebrew-tap
          formula_folder: Formula
          github_token: ${{ steps.load-github-credentials.outputs.HOMEBREW_TAP_GITHUB_TOKEN  }}
          commit_owner: homebrew-releaser
          commit_email: homebrew-releaser@easytocloud.com
          
          install: |
            (share/"oh-my-easytocloud/plugins/easytocloud").install Dir["plugins/easytocloud/*"]
            (share/"oh-my-easytocloud/themes").install "themes/easytocloud.zsh-theme"
            (share/"doc/oh-my-easytocloud").install "README.md"

          custom_block: |
            def post_install
              ohmyzsh = Pathname.new(ENV["HOME"]) / ".oh-my-zsh"
              return unless ohmyzsh.directory?
              
              # Install plugin
              plugin_dir = ohmyzsh / "custom/plugins/easytocloud"
              plugin_dir.mkpath
              cp_r (share/"oh-my-easytocloud/plugins/easytocloud").children, plugin_dir
              
              # Install theme
              theme_dir = ohmyzsh / "custom/themes"
              theme_dir.mkpath
              cp share/"oh-my-easytocloud/themes/easytocloud.zsh-theme", theme_dir
            end

          test: |
            system "test", "-d", share/"oh-my-easytocloud/plugins/easytocloud"
            system "test", "-f", share/"oh-my-easytocloud/themes/easytocloud.zsh-theme"

          update_readme_table: true
          skip_commit: false
          debug: true